<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head th:replace="index::head"></head>


<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Navbar -->
		<nav th:replace="index::navv"></nav>
		<!-- /.navbar -->

		<aside th:replace="index::sidebar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2"></div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<!-- Main content -->
			<div class="container">
				<div class="ror">
					<div class="col-8">
						<h1 class="mt-3">Ubah Data Admin</h1>
						<form method="post" action="/admin/save">



							<div class="form-group">
								<input type="hidden" class="form-control" id="id" name="id"
									th:value="${admin.id}"> <input type="hidden"
									class="form-control" id="id" name="login.id"
									th:value="${admin.login.id}"> <input type="hidden"
									class="form-control" id="id" name="login.akses"
									th:value="${admin.login.akses}"> <input type="hidden"
									class="form-control" id="id" name="login.active"
									th:value="${admin.login.active}">
							</div>
							<div class="col-md-6">
								<div class="custom-file mb-2">
									<div class="form-group">
										<label for="nama">Nama Lengkap</label> <input type="text"
											class="form-control" id="nama" name="namaLengkap"
											th:value="${admin.namaLengkap}">
									</div>
								</div>
							</div>
							<br>

							<div class="col-md-6">
								<div class="custom-file mb-2">
									<div class="form-group">
										<label for="alamat">Alamat</label> <input type="text"
											class="form-control" id="alamat" name="alamat"
											th:value="${admin.alamat}">
									</div>
								</div>
							</div>
							<br>

							<div class="col-md-6">
								<div class="custom-file mb-2">
									<div class="form-group">
										<label for="email">Email</label> <input type="email"
											class="form-control" id="email" name="email"
											th:value="${admin.email}">
									</div>
								</div>
							</div>
							<br>

							<div class="col-md-6">
								<div class="custom-file mb-2">
									<div class="form-group">
										<label for="tlp">No Telepon</label> <input type="text"
											class="form-control" id="tlp" name="noTelp"
											th:value="${admin.noTelp}">
									</div>
								</div>
							</div>
							<br>
							<div class="col-md-6">
								<div class="custom-file mb-2">
									<div class="form-group">
										<label for="tgl">Username</label> <input type="text"
											class="form-control" id="tgl" name="login.username"
											th:value="${admin.login.username}">
									</div>
								</div>
							</div>
							<br>

							<div class="col-md-6">
								<div class="custom-file mb-2">
									<div class="form-group">
										<label for="tgl">Password</label> <input type="text"
											class="form-control" id="tgl" name="login.password"
											th:value="${admin.login.password}">
									</div>
								</div>
							</div>
							<br>

							<div class="col-md-6">
								<div class="custom-file mb-2">
									<button type="submit" class="btn btn-primary">Simpan
										Data</button>
									<a th:href="@{'/admin/tampil'}" class="btn btn-danger">Kembali</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="index::foot" class="main-footer"></footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<div th:replace="index::js"></div>
</body>
</html>

<body>

</body>
</html>