<!DOCTYPE html>
<html lang="en">
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/js/sweetalert.js}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<head th:replace="index::head"></head>


<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Navbar -->
		<nav th:replace="index::navv"></nav>
		<!-- /.navbar -->

		<aside th:replace="index::sidebar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Akun Laporan</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard v1</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<!-- Main content -->
			<div class="card mb-4">
				<div class="card-header">
					 <button style="height: 40px" type="button"
						class="btn btn-primary text white mt-2" data-toggle="modal"
						data-target="#exampleModal1" data-whatever="@mdo">
						<p>Tambah Data</p>
					</button>
				</div>
				<div class="card-body">
					<div class="alert alert-success" role="alert" th:text="${success}"
						th:if="${success}"></div>
					<div class="alert alert-danger" role="alert" th:text="${error}"
						th:if="${error}"></div>
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th bgcolor="grey" style="text-align: center;">No</th>
									<th bgcolor="grey" style="text-align: center;">Kode Akun</th>
									<th bgcolor="grey" style="text-align: center;">Nama Akun</th>
									<th bgcolor="grey" style="text-align: center;">Keterangan
										Akun</th>
									<th bgcolor="grey" style="text-align: center;">Action</th>

								</tr>
							</thead>
							<script>
								
							</script>
							<tbody id="order">
							</tbody>
						</table>

						<div th:if="${totalPages > 1}">
							<div class="row col-sm-10">
								<div class="col-sm-2">Total Rows : [[${totalItems}]]</div>
								<div class="col-sm-1">
									<span th:each="i: ${#numbers.sequence(1, totalPages)}">
										<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">
											[[${i}]]</a> <span th:unless="${currentPage != i}">[[${i}]]</span>
										&nbsp; &nbsp;
									</span>
								</div>
								<div class="col-sm-1">
									<a th:if="${currentPage < totalPages}"
										th:href="@{'/page/' + ${currentPage +1}}">Next</a> <span
										th:unless="${currentPage < totalPages}">Next</span>
								</div>

								<div class="col-sm-1">
									<a th:if="${currentPage < totalPages}"
										th:href="@{'/page/' + ${totalPages}}">Last</a> <span
										th:unless="${currentPage < totalPages}">Last</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.content-wrapper -->



		<footer th:replace="index::foot" class="main-footer"></footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<div th:replace="index::js"></div>
	<!-- Modal 3 -->

	    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Form Tambah Data Akun</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Nama Akun</label> 
							<input type="text" id="namaAkun" class="form-control" />

						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Keterangan Akun</label> 
							<input type="text" id="ketAkun" class="form-control" />

						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Bulan:</label>
							<select class="form-control" id="bulan-name" name="month">
								<option value="1">Januari</option>
								<option value="2">February</option>
								<option value="3">Maret</option>
								<option value="4">April</option>
								<option value="5">Mei</option>
								<option value="6">Juni</option>
								<option value="7">Juli</option>
								<option value="8">Agustus</option>
								<option value="9">September</option>
								<option value="10">Oktober</option>
								<option value="11">November</option>
								<option value="12">Desember</option>
							</select>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Tahun:</label> <input
								type="text" id="datepicker1" class="form-control" />

						</div>
					</form>
				</div>
				<script type="text/javascript">
					var y = document.getElementById("datepicker1");
					var m2;
					var namaAkun= document.getElementById("namaAkun");
					var ketAkun= document.getElementById("ketAkun");

					$('select').on(
							'change',
							function() {
								//ways to retrieve selected option and text outside handler
								m2 = this.value;

								console.log('Changed option value '
										+ this.value);
								console.log('Changed option text '
										+ $(this).find('option').filter(
												':selected').text());
							});
					function myFunction() {
						alert('nama akun :'+ namaAkun.value);
						alert('ket akun :'+ ketAkun.value);
						alert('month :' + m2);
						alert('year :' + y.value);

					}
				</script>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						onclick="myFunction()">Simpan Data</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	function getAllOrder() {
		var content = '';
		var no = 1;
		$
				.ajax(
						'http://localhost:9099/api/akun/getAkun',
						{
							dataType : 'json',
							success : function(data) {
								console.log("Data======== :"
										+ JSON.stringify(data))
								data.forEach(function(item, index) {

											content += '<tr>'
													+ '<td style="text-align :center;">'
													+ no
													+ '</td>'
													+ '<td style="text-align :center;">AD0'
													+ item.kodeAkun
													+ '</td>'
													+ '<td style="text-align :center;">'
													+ item.namaAkun
													+ '</td>'
													+ '<td style="text-align :center;">'
													+ item.keteranganAkun
													+ '</td>'
													+

													'<td style="text-align :center;">'
													+ '<button type="button" id="'+item.kodeAkun+'" class="btn btn-sm btn-danger text white" style=" text-align: center;" class="btn hvr-hover" value="'+item.kodeAkun+'" >Update</button>&nbsp'
													+ '<button type="button" id="'+item.kodeAkun+'" class="btn btn-sm btn-success text white" style=" text-align: center;" class="btn hvr-hover" value="'+item.kodeAkun+'" >Delete</button>'
													+ '</td>' + '</tr>';
											no++;

										})
								$('#order').html(content);
							}
						});
	}

	getAllOrder();
	
	$(function() {
		$("#datepicker1").datepicker({
			dateFormat : 'yy'
		});
	});
</script>
</html>
