<!DOCTYPE html>
<html lang="en">
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/js/sweetalert.js}"></script>

<head th:replace="index_user::head"></head>
<body>
    <div  th:replace="index_user::top" class="main-top"></div>
    <header th:replace="index_user::sidebar" class="main-header"></header>

    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table" id="tableCart">
                            <thead>
                                <tr >
                                <th style="background-color: olive">No</th>
                                <th style="text-align: center;background-color: olive">Images</th>
                                <th style="text-align: center;background-color: olive">Product Name</th>
                                <th style="text-align: center;background-color: olive">Price</th>
                                <th style="text-align: center;background-color: olive">Quantity</th>
                                <th style="text-align: center;background-color: olive">Check</th>
                                <th style="text-align: center;background-color: olive">Remove</th>
                                </tr>
                            </thead>
                            <script>
			                        var getUrlParameter = function getUrlParameter(sParam) {
			                            var sPageURL = window.location.search.substring(1),
			                                sURLVariables = sPageURL.split('&'),
			                                sParameterName,
			                                i;
			
			                            for (i = 0; i < sURLVariables.length; i++) {
			                                sParameterName = sURLVariables[i].split('=');
			
			                                if (sParameterName[0] === sParam) {
			                                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			                                }
			                            }
			                            return false;
			                        };
			                        
			                        $(document).ready(function() {
								        $("#subTotal").click(function(){
								            var code_cart = [];
                                           
                                            $.each($("input[name='quantity']"),function(index,item){
                                                console.log(index+'.'+item.value);
                                            })
								            $.each($("input[name='check']:checked"), function(index,item){
                                                var obj = {};
                                                obj.code= $(this).val();
								            	code_cart.push(obj);
                                                console.log('check: '+index+'.'+item.value);
								            });

								            console.log(JSON.stringify(code_cart));
								            
								            // var url ='http://localhost:9099/api/cart/s'
								            // 	$.ajax({
								            // 		  type: "POST",
								            // 		  url: url,
								            // 		  data: JSON.stringify(code_produk),
								            // 		  success: function(data){
								            // 			  Swal.fire({
								            // 				  title:'Good job!',
							            	// 				  text:'You clicked the button!',
							            	// 				  type:'success'
								            			  
								            // 			  }).then(function(){
								            // 				  location.reload();
								            // 			  })
								            					
								            // 		  },
								            // 		  contentType: "application/json",
								            // 		  //dataType: 'json'
								            // 		});
								            //alert("KODE PRODUK=====: " + code_produk.join(", "));
								        });
								    });

                        
                                    function getAllCartByUser(){
                                        var content = '';
                                        var no=1;
                                        var defaulQ=1;
                                        var username= getUrlParameter('username');
                                        console.log('==='+username);
                                        $.ajax('http://localhost:9099/api/cart/getCart/'+username,{
                                            dataType: 'json',
                                            success: function(data){
                                                console.log(JSON.stringify(data))
                                                data.forEach(function(item){
                                                    content+='<tr>'+
                                                        '<td style="text-align :center;">'+no+'</td>'+
                                                        '<td style="text-align :center;"><img src="data:image/png;base64,'+item.produk.gambar+'" style="width: 115px;height: 115px;"></td>'+
                                                        '<td style="text-align :center;">'+item.produk.namaProduk+'</td>'+
                                                        '<td style="text-align :center;">'+'Rp. '+item.produk.hargaJual+'</td>'+
                                                        '<td style="text-align :center;">'+'<input style="text-align :center; width :50px; height:30px;" type="number"'+
                                                        	'name="quantity"' +
                                                        	'value='+defaulQ+'>'+'</td>'+
                                                        '<td style="text-align :center;">'+'<input type="checkbox"'+
                                                            'name="check"' +
                                                            'value='+item.kode+'>'+'</td>'+
                                                        '<td style="text-align :center;">'+'<i style="background-color: lavender;"'+
                                                        	'class="fas fa-times" '+
                                                        	'title="Remove"></i>'+'</td>'+
                                                        '</tr>';
                                                        no++;

                                                })
                                        		$('#cart').html(content);
                                          	}
                                        });
                                    }
                                    getAllCartByUser();

                        </script>
                            <tbody id="cart">
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <button type="button" id="subTotal" style="background-color: olive; text-align: center;color: white;" class="btn hvr-hover" ><i
								class="fa fa-shopping-bag  "></i> Cek Subtotal</button>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold">Rp. [[${subtotal}]]</div>
                        </div>
                        <div class="d-flex">
                            <h4>Discount</h4>
                            <div class="ml-auto font-weight-bold">[[${disc}]] % </div>
                        </div>
                        <hr class="my-1">
                       
                        
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"> $ [[${grandTotal}]] </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a th:href="@{/cart/checkout}" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
    
    
    <!-- Modal -->
        <div class="modal fade" id="editCartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Cart Edit</h4>
                                
                              </div>
                              <div class="modal-body">
                                <form action="${pageContext.request.contextPath}/cart/update" method="post">
                                    <center><label>Jumlah Produk</label></center>
                                    <center><input type="number" id="kuantitas" name="kuantitas" min="0"></center>
                              </div>

                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" name="save" class="btn btn-primary" value="Save changes">
                                <input type="hidden" name="kode" id="id">
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
    <!-- Modal -->
    
    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <footer th:replace="index_user::footer"></footer>
    <div  th:replace="index_user::copyright" class="footer-copyright"></div>
    <div th:replace="index_user::js"></div>
 
</body>
<script>
	function changeTotal(obj){
		console.log('value: '+obj.value);
	}
</script>	
</html>