<!DOCTYPE html>
<html lang="en">
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/js/sweetalert.js}"></script>
<head th:replace="index_user::head"></head>

<body>
	<div th:replace="index_user::top" class="main-top"></div>
	<header th:replace="index_user::sidebar" class="main-header"></header>
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Checkout</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Shop</a></li>
						<li class="breadcrumb-item active">Checkout</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="cart-box-main">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-6 mb-3">
					<div class="checkout-address">
						<div class="title-left">
							<h3>Personal Data</h3>
						</div>
						<!-- <div data-theme="light" id="rajaongkir-widget"></div> -->

						<div class="row">
							<div class="col-md-12 col-lg-12">
								Kota Asal <select id="kotaAsal" class="form-control">
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-lg-12">
								Kota Tujuan <select id="kotaTujuan" class="form-control">
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-lg-12">
								Berat <input type="text" name="beratProduk" id="berat" value=""
									class="form-control">
							</div>

						</div>
						<script>
							function somescript() {
								var getUrlParameter = function getUrlParameter(
										sParam) {
									var sPageURL = window.location.search
											.substring(1), sURLVariables = sPageURL
											.split('&'), sParameterName, i;

									for (i = 0; i < sURLVariables.length; i++) {
										sParameterName = sURLVariables[i]
												.split('=');

										if (sParameterName[0] === sParam) {
											return typeof sParameterName[1] === undefined ? true
													: decodeURIComponent(sParameterName[1]);
										}
									}
									return false;
								};
								var totalBerat = getUrlParameter('totalBerat');
								var cartId = getUrlParameter('cartId');
								var quantity = getUrlParameter('quantity');
								console.log('totalBerat===' + totalBerat);
								
								document.getElementById("berat").value = totalBerat;

							}
							somescript();
						</script>



						<div class="row">
							<div class="col-md-12 col-lg-12">
								Jasa Pengiriman <select id="courier" class="form-control">
									<option value="tiki">TIKI</option>
									<option value="jne">JNE</option>
									<option value="pos">POST</option>
								</select>
							</div>
						</div>

						<div class="row" style="margin-top: 20px">
							<div class="col-md-12 col-lg-12">
								<button type="button" id="checkOngkir"
									style="background-color: olive; text-align: center; color: white;"
									class="btn hvr-hover">
									</i> Cek Ongkir
								</button>
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-6 col-lg-6 mb-3">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="shipping-method-box">
								<div class="title-left">
									<h3>Shipping Method</h3>
								</div>
								<div class="mb-4">
									<div class="row">
										<div class="col-md-12 col-lg-12">
											<label for="shippingOption1" class="font-weight-bold">Jasa
												Pengiriman</label> <span class="float-right font-weight-bold"
												id="jasaPengiriman">-</span>
										</div>
									</div>
									<div id="cost"></div>
									<button type="button" id="checkRadio"
										style="background-color: olive; text-align: center; color: white;"
										class="btn hvr-hover">
										</i> View Total
									</button>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="odr-box">
								<div class="title-left"></div>

							</div>
						</div>
						<div class="col-md-12 col-lg-12">
							<div class="order-box">
								<div class="d-flex">
									<h4>Sub Total</h4>
									<div class="ml-auto font-weight-bold">Rp. [[${subTotal}]]</div>
								</div>


								<div class="d-flex">
									<h4>Shipping Cost</h4>
									<div class="ml-auto font-weight-bold" id="shippingCost">Free</div>
								</div>
								<hr>
								<div class="d-flex gr-total">
									<h5>Grand Total</h5>
									<div class="ml-auto h5" id="grandTotal">Rp.
										[[${subTotal}]]</div>
								</div>
							</div>

							<div class="title-left"></div>


							<div class="form-horizontal">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group large-font">
											<div class="form-group large-font">
												<label class="control-label"> First Name </label> <input
													type="text" name="beratProduk" id="firstName" value=""
													class="form-control">
											</div>
										</div>
										<div class="form-group large-font">
											<div class="form-group large-font">
												<label class="control-label"> Last Name </label> <input
													type="text" name="beratProduk" id="lastName" value=""
													class="form-control">
											</div>
										</div>


									</div>

									<div class="col-md-6">
										<div class="form-group large-font">
											<div class="form-group large-font">
												<label class="control-label"> Telephone </label> <input
													type="text" name="beratProduk" id="telephone" value=""
													class="form-control" required="true">
											</div>
										</div>


										<div class="form-group large-font">
											<div class="form-group large-font">
												<label class="control-label"> Email </label> <input
													type="text" name="beratProduk" id="email" value=""
													class="form-control" required="true">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group large-font">
											<div class="form-group large-font">
												Alamat Lengkap
												<textarea name="beratProduk" id="alamat" value=""
													class="form-control" placeholder="Enter text here..."></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>

							<hr>
						</div>

						<!-- <div class="col-12 d-flex shopping-box">
							
							<div class="col-12 d-flex shopping-box">
								<a href="javascript:order()" class="ml-auto btn hvr-hover">Buat
									Pesanan</a>
							</div>
						</div> -->

						<div class="row" style="margin-top: 20px">
							<div class="col-md-12 col-lg-12">
								<button type="button" id="pesanan"
									style="background-color: olive; text-align: center; color: white;"
									class="btn hvr-hover">Buat Pesanan</button>
							</div>
						</div>
						&nbsp
						<div class="row" style="margin-top: 20px">
							<div class="col-md-12 col-lg-12">
								<button type="button" id="cekStatusOrder"
									style="background-color: olive; text-align: center; color: white;"
									class="btn hvr-hover">Saya Sudah Transfer</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- End Cart -->

		<!-- Start Instagram Feed  -->
		<div class="instagram-box">
			<div class="main-instagram owl-carousel owl-theme">
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-01.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-02.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-03.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-04.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-05.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-06.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-07.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-08.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-09.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="ins-inner-box">
						<img src="images/instagram-img-05.jpg" alt="" />
						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="//rajaongkir.com/script/widget.js"></script>

		<footer th:replace="index_user::footer"></footer>
		<div th:replace="index_user::copyright" class="footer-copyright"></div>
		<div th:replace="index_user::js"></div>
</body>
<script>
	var indexGlobal = [];
	var ongkirGlobal = [];
	var grandTotal = 0;
	var cartId = [];
	var quantity = [];
	var colective={};
	
	var orderId = 'cwsLQFnoR';
	var firsName = 'JUlia Ningsih';
	var lastName = 'Lubis';
	var email = 'julianingsih1107@gmail.com';
	var telephone = '085217279985';
	var alamat = 'Sidadi II, Kec.Batang Angkola, Kab.Tapsel';
	
	/*var orderId;
	var firsName;
	var lastName;
	var email;
	var telephone;
	var alamat;*/
	

	setKotaAsal();

	var getUrlParameter = function getUrlParameter(sParam) {
		var sPageURL = window.location.search.substring(1), sURLVariables = sPageURL
				.split('&'), sParameterName, i;

		for (i = 0; i < sURLVariables.length; i++) {
			sParameterName = sURLVariables[i].split('=');

			if (sParameterName[0] === sParam) {
				return typeof sParameterName[1] === undefined ? true
						: decodeURIComponent(sParameterName[1]);
			}
		}
		return false;
	};

	var subTotal = getUrlParameter('subTotal');
	$(document)
			.ready(
					function() {
						var t = 0;
						var setOngkir = 0;

						$("#checkRadio")
								.click(
										function() {

											setOngkir = 0;
											indexGlobal
													.forEach(function(response) {
														var cq = $('#radioCheck'
																+ response);
														//console.log("Response========Global :" + JSON.stringify(response));
														console
																.log("Ongkir========Global :"
																		+ JSON
																				.stringify(ongkirGlobal[response]));
														if (cq.is(':checked')) {
															console
																	.log("True :");
															setOngkir = ongkirGlobal[response];
															grandTotal = parseInt(setOngkir)
																	+ parseInt(subTotal);
														} else {
															console.log('off');
														}
														t++;
													});
											cekBiaya();
											ongkirGlobal = [];
											$('#shippingCost').html(
													'Rp. ' + setOngkir);
											$('#grandTotal').html(
													'Rp. ' + grandTotal);

										});
					});

	function setKotaAsal() {
		var kotaAsal = $('#kotaAsal');
		var url = 'http://localhost:9099/api/cart/city'
		$.ajax({
			type : "GET",
			url : url,
			success : function(data) {
				var content = '';
				var item = data.rajaongkir.results;
				item.forEach(function(obj) {
					content += '<option value="'+obj.city_id+'">'
							+ obj.city_name + '</option>';
				})
				kotaAsal.html(content)

			},
			contentType : "application/json",
		});
	}

	setKotaTujuan();
	function setKotaTujuan() {
		var kotaTujuan = $('#kotaTujuan');
		var url = 'http://localhost:9099/api/cart/city'
		$.ajax({
			type : "GET",
			url : url,
			success : function(data) {
				var content = '';
				var item = data.rajaongkir.results;
				item.forEach(function(obj) {
					content += '<option value="'+obj.city_id+'">'
							+ obj.city_name + '</option>';
				})
				kotaTujuan.html(content)

			},
			contentType : "application/json",
		});
	}

	function cekBiaya() {
		var url = 'http://localhost:9099/api/cart/cost'
		var req = {};
		req.origin = $('#kotaAsal').val();
		req.destination = $('#kotaTujuan').val();
		req.weight = $('#berat').val();
		req.courier = $('#courier').val();
		$
				.ajax({
					type : "POST",
					url : url,
					data : JSON.stringify(req),
					success : function(data) {
						var content = '';
						var item = data.rajaongkir.results[0];
						$('#jasaPengiriman').html(item.name);

						item.costs
								.forEach(function(response, index) {
									console.log("Data======== :"
											+ JSON.stringify(response));
									content += '<div class="row">'
											+ '<div class="col-md-12 col-lg-12">'
											+ '<input type="radio" name="reg" id=radioCheck'+index+'>'
											+ '<label for="reg" class=" font-weight-bold">&nbspLayanan '
											+ 'Pengiriman</label> <span class="float-right font-weight-bold">'
											+ response.description
											+ '</span>'
											+ '</div>'
											+ '</div>'
											+

											'<div class="row">'
											+ '<div class="col-md-12 col-lg-12">'
											+ '<label for="shippingOption1"> &nbsp &nbsp &nbsp - &nbsp Grand Total</label> <span'+
                                                ' class="float-right font-weight-bold"> Rp. '
											+ response.cost[0].value
											+ '</span>'
											+ '</div>'
											+ '</div>'
											+

											'<div class="row">'
											+ '<div class="col-md-12 col-lg-12">'
											+ '<label or="shippingOption1" > &nbsp &nbsp &nbsp - Jangka Waktu Pengiriman</label> <span'+
                                                ' class="float-right font-weight-bold">'
											+ response.cost[0].etd
											+ ' HARI</span>' + '</div>'
											+ '</div>'
									indexGlobal.push(index);
									ongkirGlobal.push(response.cost[0].value);
								})
						$('#cost').html(content);

					},
					contentType : "application/json",
				});
	}

	$('#checkOngkir').click(function() {
		cekBiaya();

	})

	$('#pesanan').click(function() {
		order();

	})

	$('#cekStatusOrder').click(function() {
		cekStatusOrder();

	})

	function randomString(length, chars) {
		var result = '';
		for (var i = length; i > 0; --i)
			result += chars[Math.round(Math.random() * (chars.length - 1))];
		return result;
	}
	
	//function saveStatusOrder(){

	//}

	

	function cekStatusOrder() {
		

		$.ajax({
			url : 'http://localhost:9099/api/cart/statusOrder?orderId='
					+ orderId,
			type : 'GET',
			contentType : 'application/json',

			success : function(data) {
				alert("success");
				console.log("Data Status======== :" + JSON.stringify(data));
				
				
				
				
				var request = {};
				request['gross_amount'] = data.gross_amount;
				request['transaction_status'] = data.transaction_status;
				request['transaction_time'] = data.transaction_time;
				request['firs_name'] = firsName;
				request['last_name'] = lastName;
				request['email'] = email;
				request['telephone'] = telephone;
				request['alamat'] = alamat;
				request['order_id'] = orderId;
				console.log("Requessttt_______:"+JSON.stringify(request));
				$.ajax({
					url : 'http://localhost:9099/api/cart/saveStatusOrder',
					type : 'POST',
					data : JSON.stringify(request),
					contentType : 'application/json',

					success : function(data) {
						console.log('Cek Status Transaksi Kita :'+JSON.stringify(data))
						alert("success");
						if(data =='settlement'){
							
							// API save produk keluar
								
								cartId = getUrlParameter('cartId');
								quantity = getUrlParameter('quantity');
								var cart=cartId.toString();
								var q=quantity.toString();
								var cartIdArr = cart.split(",");
								var qtyArr=q.split(",");
								colective['cartId'] = cartIdArr;
								colective['quantity'] = qtyArr;
								
								$.ajax({
								url : 'http://localhost:9099/api/pesanan/savePesanan?orderId='+ orderId,
								type : 'POST',
								data : JSON.stringify(cartIdArr),
								contentType : 'application/json',
			
								success : function(data) {
									console.log('Cek Status Transaksi Kita :'+JSON.stringify(data))
										Swal.fire({
					          				  title:'Transaksi anda berhasil!',
					      					  text:'You clicked the button!',
					      					  type:'success'
					          			  
					          			  }).then(function(){
					          				  location.reload();
					          			  })
								
									
			
								},
			
							});
							
							
							// End API save produk keluar
							
							
						}else{
							Swal.fire({
		          				  title:'Transaksi anda gagal!',
		      					  text:'Silahkan cek kembali transaksi anda!',
		      					  type:'error'
		          			  
		          			  })
						}
						

					},

				});

			},

		});
	}
	function order() {
		alert("elisa");
		var req = {};
		req['transaction_details'] = {};
		req['transaction_details']['order_id'] = randomString(9,
				'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
		req['transaction_details']['gross_amount'] = grandTotal;

		req['customer_details'] = {};
		req['customer_details']['first_name'] = $('#firstName').val();
		req['customer_details']['last_name'] = $('#lastName').val();
		req['customer_details']['email'] = $('#email').val();
		req['customer_details']['phone'] = $('#telephone').val();

		orderId = req['transaction_details']['order_id'];
		firsName = req['customer_details']['first_name'];
		lastName = req['customer_details']['last_name'];
		email = req['customer_details']['email'];
		telephone = req['customer_details']['phone'];
		alamat = $('#alamat').val();
		console.log("ORDER_ID_VARIABEL :" + orderId);
		console.log("firsName_VARIABEL :" + firsName);
		console.log("lastName_VARIABEL :" + lastName);
		console.log("email_VARIABEL :" + email);
		console.log("telephone_VARIABEL :" + telephone);
		console.log("alamat_VARIABEL :" + alamat);
		
		console.log("Request Pakai Json :" + JSON.stringify(req));
		console.log("Request without Json :" + req);
		
		$.ajax({
			url : 'http://localhost:9099/api/cart/transaction?orderId='
				+ orderId,
			type : 'POST',
			data : JSON.stringify(req),
			contentType : 'application/json',
			success : function(data) {
				alert("Masuk transaksi dong");
				console.log("Data_TOKEN======== :"+ JSON.stringify(data.token));
				console.log("Data======== :" + JSON.stringify(data));
				window.open(data.redirect_url, '_blank')

			}
		});
	}
</script>
</html>