<!DOCTYPE html>
<html lang="en">
<head th:replace="index::head"></head>


<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Navbar -->
		<nav th:replace="index::navv"></nav>
		<!-- /.navbar -->

		<aside th:replace="index::sidebar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->
				<!-- Main content -->
				<div class="container">
					<div class="ror">
						<div class="col-8">
							<h1 class="mt-3">Form Add and Update Rasa Produk</h1>
							<form method="post" action="/rasa/save"
								enctype="multipart/form-data">
								<!-- <input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> -->

								<div class="form-group">
									<input type="hidden" class="form-control" id="id" name="kode"
										th:value="${rasa.kode}">
								</div>

								<div class="form-group">
									<label for="rasa">Rasa Produk</label> <input type="text"
										class="form-control" id="rasa" name="namaRasa"
										th:value="${rasa.namaRasa}">
								</div>

								<div class="form-group">
									<div class="custom-file mb-2">
										<label for="customFile">Tambah Gambar</label><br> <input
											type="file" name="pfile" class="custom-file" id="customFile"
											th:value="${rasa.gambar}">
									</div>
								</div>


								<button type="submit" class="btn btn-primary">Simpan
									Data</button>
								<a th:href="@{'/rasa/tampil'}" class="btn btn-danger">Kembali</a>
							</form>
						</div>
					</div>
				</div>

			</div>
			<!-- /.content-wrapper -->



			<!-- <footer th:replace="index::foot" class="main-footer"></footer> -->

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->

		<div th:replace="index::js"></div>
</body>
</html>
